<html>
    <head>
        <link rel="stylesheet" href="scripts.css" />
    </head>
    <body>
        <table id="neustar-scripts-table" border="0">
            <thead>
                <tr>
                    <td class="name">Script</td>
                    <td class="status">Validation Status</td>
                    <td class="actions" colspan="3">Actions</td>
                </tr>
            </thead>
            <tbody id="webmetrics-tbody">
                
            </tbody>
        </table>
    </body>
</html>